# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.kekkuru_disk.iml
# Datasource local storage ignored files
/../../../../../../:\GitHub Projects\kekkuru_disk\.idea\.idea.kekkuru_disk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
